results
workspace/repo
workspace/githistory.txt
workspace/dataset

clone_detector_result/*
__pycache__/*
repo/


__pycache__
*scod/

target
.metadata
.settings
.classpath
.project
*.class
# Package Files #
*.jar
*.war
*.ear
.idea
*.iml
*.swp
datanucleus.log


./results/production_results.xml
./results/production_density.csv